* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.theme-title {
    background: linear-gradient(#09abc9, #042128);
}

.theme-title h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}