* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.theme-title h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20%;
    width: 100%;
}
/* END of header */

/* svg */
svg{
    background: linear-gradient(#09abc9, #042128);
    padding-top: 250px;
}
/* END of svg */

/* section */
h2 {
    color: #067083;
    text-transform: uppercase;
}
.one {
    text-align: left;
    padding-left: 12%;
}
.one p {
    padding: 2% 12% 5% 0;  
}
.two {
    text-align: right;
    padding-right: 12%;
}
.two p {
    padding: 2% 0 5% 12%;
}